
<!-- gittalk 公共JS代码 start (一个网页只需插入一次) -->
{% if site.gittalk_clientID %}
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/gitalk@1/dist/gitalk.css">
<div id="gitalk-container"></div>
<script type="text/javascript">
    (function(){
        var clientID = '{{site.gittalk_clientID}}';
        var clientSecret = '{{site.gittalk_clientSecret}}';
        var repo= '{{site.github_repo}}';
        var owner= '{{site.github_username}}';
        var admin= ['{{site.github_username}}'];
        var id = location.pathname;
        var loadJs=function(d,a){var c=document.getElementsByTagName("head")[0]||document.head||document.documentElement;var b=document.createElement("script");b.setAttribute("type","text/javascript");b.setAttribute("charset","UTF-8");b.setAttribute("src",d);
            if(typeof a==="function"){if(window.attachEvent){b.onreadystatechange=function(){var e=b.readyState;if(e==="loaded"||e==="complete"){b.onreadystatechange=null;a()}}}else{b.onload=a}}c.appendChild(b)};
        loadJs("https://cdn.jsdelivr.net/npm/gitalk@1/dist/gitalk.min.js", function () {
            const gitalk = new Gitalk({
                clientID: clientID,
                clientSecret: clientSecret,
                repo: repo,
                owner: owner,
                admin: admin,
                id: id,      // Ensure uniqueness and length less than 50
                distractionFreeMode: false  // Facebook-like distraction free mode
            });
            gitalk.render('gitalk-container')
        });
    })();
</script>
{% endif %}

{% if site.disqus_username %}
<div class="comment">
    <div id="disqus_thread" class="disqus-thread"></div>
</div>
<!-- disqus 公共JS代码 start (一个网页只需插入一次) -->
<script type="text/javascript">
    /* * * CONFIGURATION VARIABLES * * */
    var disqus_shortname = "{{site.disqus_username}}";
    var disqus_identifier = "{{page.id}}";
    var disqus_url = "{{site.url}}{{page.url}}";

    (function() {
        var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
        dsq.src = '//' + disqus_shortname + '.disqus.com/embed.js';
        (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
    })();
</script>
<!--<script id="dsq-count-scr" src="//brade.disqus.com/count.js" async></script>-->
<!-- disqus 公共JS代码 end -->
{% endif %}

{% if site.changyan_appid %}
<div id="SOHUCS" sid="{{page.id}}" ></div>
<!-- changyan 公共JS代码 start (一个网页只需插入一次) PC和WAP自适应版-->
<script type="text/javascript">
    (function(){
        var appid = '{{site.changyan_appid}}';
        var conf = '{{site.changyan_conf}}';
        var width = window.innerWidth || document.documentElement.clientWidth;
        if (width < 960) {
            window.document.write('<script id="changyan_mobile_js" charset="utf-8" type="text/javascript" src="http://changyan.sohu.com/upload/mobile/wap-js/changyan_mobile.js?client_id=' + appid + '&conf=' + conf + '"><\/script>'); }
        else { var loadJs=function(d,a){var c=document.getElementsByTagName("head")[0]||document.head||document.documentElement;var b=document.createElement("script");b.setAttribute("type","text/javascript");b.setAttribute("charset","UTF-8");b.setAttribute("src",d);
            if(typeof a==="function"){
                if(window.attachEvent){b.onreadystatechange=function(){var e=b.readyState;if(e==="loaded"||e==="complete"){b.onreadystatechange=null;a()}}}else{b.onload=a}}c.appendChild(b)};loadJs("http://changyan.sohu.com/upload/changyan.js",function(){window.changyan.api.config({appid:appid,conf:conf})}); } })();
</script>
{% endif %}